/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";

        input-gpios =
            <&gpio0 1  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpio0 5  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpio0 6  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;

        status = "okay";
    };
};
